<html>
  <head>
	<meta http-equiv="refresh" content="15" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
	<link href="action.css" rel="stylesheet" type="text/css">
	<title>Tweeage</title></head>
  <body>
	<h1>Actionable</h1>
	<div class="action_list">
	<% $action_array.reverse_each do |actionable| %>
	    <% tweet=actionable.tweet %>
		<% action=actionable.action %>
		<div class="action_item">
		<span class="action_tools">
			<a href=<%= "drop/#{tweet.id}" %>>Drop</a> 
			<a href=<%= "action/#{action.action_name}/#{tweet.id}" %>><%= action.action_label%></a>
			<a href=<%= "props/#{tweet.id}" %>>Props</a>
		</span>
		<span class="action_user_name"><%= tweet.user.screen_name %></span>:
		<span class="action_tweet_text>"><%= auto_link(tweet.text) %></span>
		<span class="action_tweet_date">(<%= tweet.created_at %> )</span>
		</div>
	<% end %>
	</div>
	<hr>
	<h2>Incoming Stream</h2><a href="flush">Flush the stream</a>
	<hr>
	<div class="incoming_list">
	<% $incoming_array.reverse_each do |tweet| %>
		<div class="incoming_item">
		<span class="incoming_tools"><a href=<%= "ignore/#{tweet.id}" %>>Ignore</a> <a href=<%= "actionable/#{tweet.id}" %>>Actionable</a> <a href=<%= "view/#{tweet.id}" %>>View</a></span>
		<span class="incoming_user_name"><%= tweet.user.screen_name %></span>:
		<span class="incoming_tweet_text>"><%= auto_link(tweet.text) %></span>
		<span class="incoming_tweet_date">(<%= tweet.created_at %> )</span>
		</div>
	<% end %>
	</div>
  </body>
</html>